<div ng-controller="saveNewsChannels">
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="items in channelNames">
      <label><input type="checkbox" id="{{items}}" ng-click="updateSelection($event)">{{items}}</label>
   </li>
  </ul>
  <ul class="header_nav">
    <button role="presentation" ng-click="saveChannels">Save</button>
    <button role="presentation" ng-click="displayData()">Display</button>
    <button role="presentation" ng-click="resetAllData()">Reset</button>
  </ul>
</div>
